/* .parent{
    display: flex; */
    /* flex-wrap: wrap; */
    /* flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end ;


}

.child{
    background-color: aqua;
    height: 100px;
    width: 100px;
    margin: 10px;
    text-align: center;
} */

/* relative and absolute */

/* .parent{
    background-color: blue;
    height: 50vh;
    position: relative;
}

.child{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    position: absolute;
    bottom: 0%; 
    
} */